NEXT_PUBLIC_BACKEND_URL=http://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:4000

# CKEditor / CKBox
NEXT_PUBLIC_CKEDITOR_LICENSE_KEY=
NEXT_PUBLIC_CKEDITOR_CLOUD_TOKEN_URL=
NEXT_PUBLIC_CKEDITOR_WEB_SOCKET_URL=